<div class="card-marker">
  <div class="card-marker-content"><%= climb.grade %> | <%= climb.approach %> : </div>
  <div class="card-marker-header"><%= link_to climb.name, climb_path(climb) %></div>
</div>

