<div class="menu">
  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Right-aligned menu
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <button class="dropdown-item" type="button">Grade</button>
      <button class="dropdown-item" type="button">Region</button>
      <button class="dropdown-item" type="button">Avi Risk</button>
    </div>
  </div>
</div>
