<h2 class="text-center">My Favorites</h2>

<div class="card-climb">
  <ul class="card-TR">
    <% @favorites.each do |favorite| %>
    <li>
      <h3>
        <%= link_to favorite.climb.name, climb_path(favorite.climb) %>:
        <%= favorite.climb.status %>
      </h3>
    </li>
    <% end %>
  </ul>
</div>
