<footer class="footer">
  <div class="navbar">
    <div class="home">
      <i class="fas fa-home"></i>
    </div>
    <div class="all-TR">
      <i class="fas fa-file-contract"></i>
    </div>
    <div class="add-TR">
      <i class="fas fa-plus"></i>
    </div>
    <div class="favorites">
      <i class="fas fa-heart"></i>
    </div>
    <div class="settings">
      <i class="fas fa-cog"></i>
    </div>
  </div>
</footer>
