.filter-burger {
  position:absolute;
  top:32px;
  right:8px;
  border-radius: 50%;
  background-color: #333333;
  color: white;
  padding: 8px 12px;
}

// .filter-burger i {
//   padding: 16px;
//   background-color: #333333;
//   border-radius: 50%;
//   box-shadow: 10px 0px 15px #c4c4c4;
//   color: white;
//   font-size: 22px;
// }
