.filter-burger {
  position:absolute;
  top:32px;
  right:8px;
  border-radius: 50%;
  background-color: #333333;
  color: white;
  padding: 8px 12px;
}

@media(min-width: 576px) {
  .filter-burger{
    top: 58px;
  }
}
