.card-climb {
  margin: 0 10px;
  text-decoration: none;
  background-color: white;
}

.card-TR {
  margin: 10px 0;
  padding: 0px;
  box-shadow: 4px 0px 8px #c4c4c4;
}

.card-TR li {
  list-style: none;
  background-color: #EFE7DA;
  padding: 4px;
}

.climb-properties h4 {
  border-bottom: 1px solid #c4c4c4;
  border-top: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  line-height: 32px;
  font-size: 22px;
}

.card-marker {
  display: flex;
  text-decoration: none;
  color: white;
  justify-content: space-between;
  text-align: center;
  margin: 0;
}

.card-marker-content {
  margin: 0;
  text-decoration:none;
  &:hover {
    text-decoration:none;
  }
}
.mapboxgl-popup {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-content {
  margin: 0;
  padding: 4px 20px;
  background: #333333;
  border-radius: 50px;
}

