.card-TR {
  margin: 0;
}

.card-TR ul {
  text-decoration: none;
  margin: 0;
  padding: 0;
  text-decoration:none;
}

.card-TR li {
  list-style: none;
  border-bottom: 1px solid #c4c4c4;
}

.card-TR h3 {
  line-height: 32px;
  font-size: 22px;
}
