.card-climb {
  margin: 0;
  text-decoration: none;
  background-color: white;
}

.card-TR {
  margin: 0;
  padding: 0;
}

.card-TR a {
  text-decoration: none;
}

.card-TR li {
  list-style: none;
  padding: 10px;
  border-top: 1px solid #c4c4c4;
}

.card-TR p {
  overflow: hidden;
  margin: 8px 0 0 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-TR li > h5 {
  margin: 0;
}

.card-TR-header {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.climb-properties h4 {
  border-bottom: 1px solid #c4c4c4;
  border-top: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  line-height: 32px;
  font-size: 22px;
  margin: 0;
}

.card-marker {
  display: flex;
  text-decoration: none;
  color: white;
  justify-content: space-between;
  text-align: center;
  margin: 0;
}

.card-marker-content {
  margin: 0;
  text-decoration:none;
  &:hover {
    text-decoration:none;
  }
}

.mapboxgl-popup {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-content {
  margin: 0;
  padding: 4px 20px;
  background: #333333;
  border-radius: 50px;
}

.card-description {
  margin: 10px;
  align-self: center;
}

.card-description li {
  list-style: none;
}

.card-description p {
  margin: 0;
}
