// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "greeting-bar";
@import "cards";
@import "map";
@import "burger";
@import "modal";
@import "favorite";

#document {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

@media(max-width: 576px) {
  #document {
    margin-top: 0px;
  }
}
