// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "greeting-bar";
@import "cards";
@import "map";
@import "burger";

#document {
  display: flex;
  flex-direction: column;
  margin-bottom: 49px;
}
