#map {
  height:100vh;
  width: 100%;
}

#map a {
  color:white;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-tip {
  display: none;
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}

.mapboxgl-ctrl-bottom-left {
  display: none;
}

@media(max-width: 576px) {
  #map {
    height: calc(100vh - 49px);
  }
}
