#map {
  height:600px;
  width: 100%;
}

#map a {
  color:white;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-tip {
  display: none;
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}

.mapboxgl-ctrl-bottom-left {
  display: none;
}
