.navbar {
  justify-content: space-between;
  background: #333333;
  color:white;
  font-size: 22px;
  width: 100vw;
}

.navbar a {
  color: white;
}

.container-navbar {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
}
