.search-wrapper-mobile {
  display: flex;
  position:absolute;
  top: 28px;
  padding: 4px;
  opacity: 0.6;
  width: 100vw;
}

.search {
  border-radius: 50px;
  background-color: white ;
  color: #333333;
  font-size: 16px;
}

.bar {
  flex-grow:1;
  margin-right: 8px;
}

.filter {
  margin-left: 8px;
}

@media (min-width: 576px){
  .search-wrapper-mobile {
    display: none;
  }
  .search {
  border-radius: 8px;
  padding: 0 4px;
  }
  .form-control[type=text] {
    height: 28px;
  }
  .form-control > .btn[type=submit] {
    height: 28px;
    padding: none;
  }
}

.search-wrapper-desktop {
  display: flex;
  opacity: 0.4;
  margin-left: 20px;
}

@media (max-width: 576px) {
  .search-wrapper-desktop {
    display: none;
  }
}
